// 1) Wajib: fungsi dulu biar bisa pakai color functions
@use "sass:map";
@import "bootstrap/scss/functions";

// Atau pakai map (lebih fleksibel):
$theme-colors: (
    "primary": #181d3d,
    "light": #f8f9fa,
    "dark": #212529,
    "secondary": #6c757d,
    "info": #17a2b8,
    "warning": #ffc107,
    "success": #4caf50,
    "danger": #f44336
);

// 2) Override variabel Bootstrap sesuai kebutuhan
$table-bg-scale: 50%;

// 3) Lanjut import sisa partial Bootstrap
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// 4) Terakhir: seluruh komponen
@import "bootstrap/scss/bootstrap";
@import "@selectize/selectize/dist/css/selectize.bootstrap5.css";

// 1) Tokens
$font-sans: "Cambria", sans-serif;
$breakpoints: (
    "md": 1080px
);

// 2) Mixins breakpoint
@mixin up($bp) {
    @media (min-width: map.get($breakpoints, $bp)) {
        @content;
    }
}

@mixin down($bp) {
    @media (max-width: map.get($breakpoints, $bp)) {
        @content;
    }
}

// 4) Base
body {
    font-family: $font-sans;
}

.main-title {
    font-weight: 800;
}

.company-name {
    font-weight: 300;
}

img.icon {
    transition: .3s;
    transform: scale(1);

    &:hover {
        transform: scale(1.3);
    }
}

.page-link {
    color: var(--bs-primary);
}

.active .page-link {
    background-color: var(--bs-primary);
}

// 5) Responsive
@include down("md") {
    .sub-judul {
        width: 95% !important;
        font-size: .8rem !important;
    }

    .main-title,
    .company-name {
        font-size: 1rem;
    }

    .logo,
    .icon {
        width: 30px;
        height: 40.5px;
    }

    .btn1 {
        font-size: 1.5rem;
    }

    .btn2 {
        font-size: 1rem;
    }

    .width-label-1,
    .width-label-2 {
        width: 50%;
    }
}

@include up("md") {
    .sub-judul {
        width: 75% !important;
        font-size: 1.6rem !important;
        transform: translateY(-20px);
    }

    .main-title {
        font-size: 60pt;
        transform: translateY(-10px);
    }

    .company-name {
        font-size: 18pt;
    }

    .logo,
    .icon {
        width: 75px;
        height: 90.5px;
    }

    .btn1 {
        font-size: 2.2rem !important;
    }

    .btn2 {
        font-size: 1.4rem !important;
    }

    .width-label-1 {
        width: 25%;
    }

    .width-label-2 {
        width: 30%;
    }
}
